
body{
    
    margin: 0px; 
}

p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
h1{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 40px;
    padding-top: 7px;
    line-height: 12px;
}
#coral-color{
    color: rgb(224, 113, 73);
    padding-bottom: 10px;   
}
.half-width
{
    width: 50%;
    padding: 20px;
}
.half-width img{
    width: 60%;
    
}
.flexible-container{
    display: flex;
}
.link-button{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-image: linear-gradient(rgb(219, 98, 98), tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.border-color{
    padding-left: 5px;
    border-left: 5px solid;
    border-image: linear-gradient( tomato,rgb(219, 98, 98));
    border-image-slice: 1;
}
#color-coral{
    color: rgb(224, 113, 73);
}
.top-banner{
    margin-bottom: 80px;
    padding-left: 110px;
}
.Mission-area{ 
    font-family: 'Poppins', sans-serif;   
    margin: auto;
    width: 85%;    
}
.Mission-area img{
    width: 40%;
}
.Mission-area h2{   
    padding-left: 400px;  
    font-size: 35px;
}
#box-color{
    background-color: rgb(202, 234, 245);
    border-radius: 50px;
    margin: 10px ;
    
}
#box-color2{
    background-color: rgb(241, 211, 215);
    border-radius: 50px;
    margin: 10px ;
    
}
#box-color3{
    background-color: rgb(206, 222, 235);
    border-radius: 50px;
    margin: 10px ;
}
.font-size{
    font-size: 15px;
}

.half-width-third{
   
    width: 40%;
    padding-left: 70px;

     
}
.half-width-third img{
    width: 80%; 
    border-radius: 50px; 
    padding-left: 20px;
    
}
.Develop-area h4{
    font-family: 'Poppins', sans-serif;     
    font-size: 25px;
    line-height: 12px;
}
.Develop-area{
    margin: auto;
    width: 100%;
    padding-top: 60px;
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 0px;
}
.know-area{
    margin: auto;
    width: 100%;
    padding-top: 60px;
    background-image: url(images/shapes/dream-bg2.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.know-area h4{
    font-family: 'Poppins', sans-serif;     
    font-size: 25px;
    line-height: 12px;
}
.half-width-fourth img{
    width: 80%; 
    border-radius: 50px;  
}
.half-width-fourth{
    width: 40%;     
    padding-left: 110px;
}
.Photo-gallery h2{
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    padding-left: 40%;  
    font-size: 30px;
}
.Photo-gallery img{
    
    height:300px;
    width:auto;
    max-width:500px;
    margin: 10px;
    padding-left: 8px;   
}
.photo{
   width: 120px 120px;
}
.photo-second{
    padding-bottom: 200px;

}
.Photo-gallery h2{
    font-size: 40px;
}
.coral{
    color: rgb(224, 113, 73);
}
#see-more{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding-left: 160px;
}
footer {
   
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black ;
    color: white;
    text-align: center;
    line-height: 5px;
    padding-top: 10px;
    padding-bottom: 10px;


}
footer p{
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}
footer a{
    text-decoration: none;
    color: white;
    padding-top: 20px;

}



